/* You can add global styles to this file, and also import other style files */

/* html * {
  box-sizing: border-box;
} */

html,
body {
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande";
}
::-webkit-scrollbar {
  width: 12px;
  background-color: rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #e35e3a);
  border-radius: 6px;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #24a7cf, transparent);
}
